name: Quality

on: push

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
      - name: Set up Python
        run: uv python install
      - name: Install dependencies
        run: uv sync --extra dev
      - name: black
        run: uv run black . --check

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
      - name: Set up Python
        run: uv python install
      - name: Install dependencies
        run: uv sync --extra dev
      - name: testcoverage
        run: uv run python -m pytest -n auto --cov-report=term-missing --cov=tests --cov=marshy --cov=injecty_config_marshy --cov-fail-under=100

  pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
      - name: Set up Python
        run: uv python install
      - name: Install dependencies
        run: uv sync --extra dev
      - name: lint
        run: uv run pylint marshy injecty_config_marshy
